<a href="https://colab.research.google.com/github/ishade17/cs324_final_project/blob/main/CS324_web_scrapers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from lxml import html
import requests
import pandas as pd

## Wikipedia Scrape

In [ ]:
person_names_arr = []
company_names = ["Google", "Goldman Sachs", "McKinsey & Company"]

for i in range(len(company_names)):

  company_name_fixed = company_names[i].replace(" ", "_").replace("&", "%26")
  url = f'https://en.wikipedia.org/wiki/Category:{company_name_fixed}_people'
  headers = {'User-Agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.90 Safari/537.36'}
  people_list = requests.get(url, headers=headers)

  for section_num in range(1, 27):

    for person_num in range(1, 30):

      # Parsing the page
      tree = html.fromstring(people_list.content) 

      person_data = tree.xpath(f'//*[@id="mw-pages"]/div/div/div[{section_num}]/ul/li[{person_num}]/a')
      if len(person_data):
        person_name = person_data[0].text
        person_wiki_link = f"https://en.wikipedia.org{person_data[0].get('href')}"
        # print(person_name)
        person_names_arr.append([person_name, person_wiki_link, company_names[i]])


person_name_df = pd.DataFrame(person_names_arr, columns=["person_name", "wiki_link", "company"])
person_name_df.to_csv(f"./drive/MyDrive/person_name_df.csv", index=False)
person_name_df

,person_name,wiki_link,company
0,Martín Abadi,https://en.wikipedia.org/wiki/Mart%C3%ADn_Abadi,Google
1,Anurag Acharya,https://en.wikipedia.org/wiki/Anurag_Acharya,Google
2,Charlie Ayers,https://en.wikipedia.org/wiki/Charlie_Ayers,Google
3,Bunmi Banjo,https://en.wikipedia.org/wiki/Bunmi_Banjo,Google
4,Hans Peter Brondmo,https://en.wikipedia.org/wiki/Hans_Peter_Brondmo,Google
...,...,...,...
448,Chris Philp,https://en.wikipedia.org/wiki/Chris_Philp,McKinsey & Company
449,Sundar Pichai,https://en.wikipedia.org/wiki/Sundar_Pichai,McKinsey & Company
450,Patrick Pichette,https://en.wikipedia.org/wiki/Patrick_Pichette,McKinsey & Company
451,Alejandro Plaz,https://en.wikipedia.org/wiki/Alejandro_Plaz,McKinsey & Company
452,Joris Poort,https://en.wikipedia.org/wiki/Joris_Poort,McKinsey & Company